extends layout

block content
  h1 Windows 8 Apps to Rate
  table.table.table-hover.table-condensed
    tr
      th Name
      th Ratings
      th Change
      th Rate it
      th
    each app in clientApps
      - var status = (app.ratings >= 50 ? 'success' : 'danger');
      tr.tt(class=status, data-toggle='tooltip', data-placement='bottom', title=app.regionBreakdown())
        td #{app.name}
        td #{app.ratings}
        td #{app.getRatingChange()}
        td
          a(href=app.primaryUrl, target='_BLANK') rate it now!
        td
          a(href='/sync-ratings/' + app.storeId, target='_BLANK') update ratings

  h1 Windows Phone Apps to Rate
  table.table.table-hover.table-condensed
    tr
      th Name
      th Ratings
      th Change
      th Rate it
      th
    each app in phoneApps
      - var status = (app.ratings >= 50 ? 'success' : 'danger');
      tr.tt(class=status, data-toggle='tooltip', data-placement='bottom', title=app.regionBreakdown())
        td #{app.name}
        td #{app.ratings}
        td #{app.getRatingChange()}
        td
          a(href=app.primaryUrl, target='_BLANK') rate it now!
        td
          a(href='/sync-ratings/' + app.storeId, target='_BLANK') update ratings

  div.small These ratings are pulled from the website and may not be up to date.