extends layout

block content
  .page-header
    h1 client apps
  table.table.table-hover.table-condensed
    tr
      th Name
      th Total Ratings
      th Average Rating
      th
    each app in apps
      if app._id.platform == 'client'
        - var status = (app.ratings >= 50 ? 'success' : 'danger');
        - var message = (app.ratings >= 50 ? 'win!' : '');
        tr.tt
          td
            a(href='/details/' + app._id.storeId) #{app._id.name}
          td #{app.ratings}
          td #{app.ratings > 0 ? Math.floor((app.total * 10 / app.ratings))  / 10 : 0}
          td
            a(href=app._id.storeUrl, target='_BLANK') view in store
  .page-header
    h1 phone apps
  table.table.table-hover.table-condensed
    tr
      th Name
      th Total Ratings
      th Average Rating
      th
    each app in apps
      if app._id.platform == 'phone'
        - var status = (app.ratings >= 50 ? 'success' : 'danger');
        - var message = (app.ratings >= 50 ? 'win!' : '');
        tr.tt()
          td
            a(href='/details/' + app._id.storeId) #{app._id.name}
          td #{app.ratings}
          td #{app.ratings > 0 ? Math.floor((app.total * 10 / app.ratings))  / 10 : 0}
          td
            a(href=app._id.storeUrl, target='_BLANK') view in store
