extends layout

block content
  .page-header
    h1 client apps
  table.table.table-hover.table-condensed
    tr
      th Name
      th Total Ratings
      th Average Rating
      th US Total Ratings
      th US Average Rating
      th
    each app in apps
      if app.platform == 'client'
        tr
          td #{app.name}
          td #{app.worldRatings}
            if app.worldRatingsChange != 0
              sup
                span.badge(class = app.worldRatingsChange > 0 ? 'alert-success' : 'alert-danger')= app.worldRatingsChange
          td #{app.worldAverage}
            if app.worldAverageChange != 0
              sup
                span.badge(class = app.worldAverageChange > 0 ? 'alert-success' : 'alert-danger')= app.worldAverageChange
          td #{app.usaRatings}
            if app.usaRatingsChange != 0
              sup
                small.badge(class = app.usaRatingsChange > 0 ? 'alert-success' : 'alert-danger')= app.usaRatingsChange
          td #{app.usaAverage}
            if app.usaAverageChange != 0
              sup
                small.badge(class = app.usaAverageChange > 0 ? 'alert-success' : 'alert-danger')= app.usaAverageChange
          td
            a.btn.btn-xs.btn-primary(href=app.primaryUrl, target='_BLANK') view in store
            a.breakdown.btn.btn-xs.btn-primary(href='/details/' + app.storeId) breakdown
  .page-header
    h1 phone apps
  table.table.table-hover.table-condensed
    tr
      th Name
      th Total Ratings
      th Average Rating
      th US Total Ratings
      th US Average Rating
      th
    each app in apps
      if app.platform == 'phone'
        tr
          td #{app.name}
          td #{app.worldRatings}
            if app.worldRatingsChange != 0
              sup
                span.badge(class = app.worldRatingsChange > 0 ? 'alert-success' : 'alert-danger')= app.worldRatingsChange
          td #{app.worldAverage}
            if app.worldAverageChange != 0
              sup
                span.badge(class = app.worldAverageChange > 0 ? 'alert-success' : 'alert-danger')= app.worldAverageChange
          td #{app.usaRatings}
            if app.usaRatingsChange != 0
              sup
                span.badge(class = app.usaRatingsChange > 0 ? 'alert-success' : 'alert-danger')= app.usaRatingsChange
          td #{app.usaAverage}
            if app.usaAverageChange != 0
              sup
                span.badge(class = app.usaAverageChange > 0 ? 'alert-success' : 'alert-danger')= app.usaAverageChange
          td
            a.btn.btn-xs.btn-primary(href=app.primaryUrl, target='_BLANK') view in store
            a.breakdown.btn.btn-xs.btn-primary(href='/details/' + app.storeId) breakdown
